<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <!-- =====  BASIC PAGE NEEDS  ===== -->
  <meta charset="utf-8">
  <title>Dark look E-commerce Bootstrap Template</title>
  <!-- =====  SEO MATE  ===== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="2 Days">
  <meta name="robots" content="ALL">
  <meta name="rating" content="8 YEARS">
  <meta name="Language" content="en-us">
  <meta name="GOOGLEBOT" content="NOARCHIVE">
  <!-- =====  MOBILE SPECIFICATION  ===== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <!-- =====  CSS  ===== -->
  <link rel="stylesheet" type="text/css" th:href="@{/static_client/css/font-awesome.min.css }" />
  <link rel="stylesheet" type="text/css" th:href="@{/static_client/css/bootstrap.css }" />
  <link rel="stylesheet" type="text/css" th:href="@{/static_client/css/style.css }">
  <link rel="stylesheet" type="text/css" th:href="@{/static_client/css/magnific-popup.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static_client/css/owl.carousel.css}">
  <link rel="shortcut icon" th:href="@{/static_client/images/favicon.png}">
  <link rel="apple-touch-icon" th:href="@{/static_client/images/apple-touch-icon.png}">
  <link rel="apple-touch-icon" sizes="72x72" th:href="@{/static_client/images/apple-touch-icon-72x72.png}">
  <link rel="apple-touch-icon" sizes="114x114" th:href="@{/static_client/images/apple-touch-icon-114x114.png}">
</head>

<body>
  <!-- =====  LODER  ===== -->
  <div class="loder"></div>
  <div class="wrapper">
    <!-- =====  HEADER START  ===== -->
    	<div th:replace="/client/common/header :: header"></div>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
      <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>Shopping Cart</h1>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ul>
          </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->
        <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
          <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
            <div class="nav-responsive">
              <div class="heading-part">
                <h2 class="main_title">Top category</h2>
              </div>
              <ul class="nav  main-navigation collapse in">
                <li><a href="#">Appliances</a></li>
                <li><a href="#">Mobile Phones</a></li>
                <li><a href="#">Tablet PC & Accessories</a></li>
                <li><a href="#">Consumer Electronics</a></li>
                <li><a href="#">Computers & Networking</a></li>
                <li><a href="#">Electrical & Tools</a></li>
                <li><a href="#">Apparel</a></li>
                <li><a href="#">Bags & Shoes</a></li>
                <li><a href="#">Toys & Hobbies</a></li>
                <li><a href="#">Watches & Jewelry</a></li>
                <li><a href="#">Home & Garden</a></li>
                <li><a href="#">Health & Beauty</a></li>
                <li><a href="#">Outdoors & Sports</a></li>
              </ul>
            </div>
          </div>
          <div class="left_banner left-sidebar-widget mb_50 mt_30"> <a href="#"><img src="/finalweb/images/left1.jpg" alt="Left Banner" class="img-responsive" /></a> </div>
          <div class="left-special left-sidebar-widget mb_50">
            <div class="heading-part mb_20 ">
              <h2 class="main_title">Top Products</h2>
            </div>
            <div id="left-special" class="owl-carousel">
              <ul class="row ">
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product8.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product8-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product9.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product9-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product10.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product10-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="row ">
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product1.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product1-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product2.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product2-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product3.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product3-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="row ">
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product4.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product4-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product5.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product5-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product6.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product6-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="row ">
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product7.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product7-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product8.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product8-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="item product-layout-left mb_20">
                  <div class="product-list col-xs-4">
                    <div class="product-thumb">
                      <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product9.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/finalweb/images/product/product9-1.jpg"> </a> </div>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="caption product-detail">
                      <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                      <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-lg-9 mtb_20">
          <div class="panel-group" id="accordion">
       
          		<div class="panel panel-default  ">
	              <div class="panel-heading">
	                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Step 1: Checkout Options <i class="fa fa-caret-down"></i></a></h4>
	              </div>
	              <div sec:authorize="!isAuthenticated()" id="collapseOne" class="panel-collapse collapse in">
	                <div class="panel-body">
	                  <div class="row">
	                  	<div class="col-sm-6">
		                      <h3>New Customer</h3>
		                      <p>Checkout Options:</p>
		                      <div class="radio">
		                        <label>
		                          <input type="radio" value="guest" name="account"> Guest Checkout</label>
		                      </div>
		                      <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
		                      <input type="submit" class="btn mt_20" data-loading-text="Loading..." id="button-account" value="Continue">	
		                </div>          
	                   	<div class="col-sm-6">
	                      <h3>Returning Customer</h3>
	                      <div class="panel-login panel">
			                <div class="panel-heading">
			                  <div class="row mb_20">
			                    <div class="col-xs-6">
			                      <a href="#" class="active" id="login-form-link">Login</a>
			                    </div>
			                  </div>
			                  <hr>
			                </div>
			                <div class="panel-body">
			                  <div class="row">
			                    <div class="col-lg-12">
			                      <form id="login-form" th:action="@{/login?currentPage=checkout}" method="post">
			                        <div class="form-group">
			                          <input type="text" name="username" id="username1" tabindex="1" class="form-control" placeholder="Username" value="">
			                        </div>
			                        <div class="form-group">
			                          <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
			                        </div>
			                        <div class="form-group text-center">
			                          <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
			                          <label for="remember"> Remember Me</label>
			                        </div>
			                        <div class="form-group">
			                          <div class="row">
			                            <div class="col-sm-6 col-sm-offset-3">
			                              <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
			                            </div>
			                          </div>
			                        </div>
			                        <div class="form-group">
			                          <div class="row">
			                            <div class="col-lg-12">
			                              <div class="text-center">
			                                <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
			                              </div>
			                            </div>
			                          </div>
			                        </div>
			                      </form>       
			                    </div>
			                  </div>
			                </div>
			              </div>
	                    </div>
	                    
	                  </div>
	                </div>
	              </div>
	            </div>

				<div class="panel panel-default ">
	              <div class="panel-heading">
	                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Step 2: Address Details <i class="fa fa-caret-down"></i></a> </h4>
	              </div>
	              <div id="collapseTwo" class="panel-collapse collapse">
	                <div class="panel-body">

	                    <div class="radio">
	                      <label>
	                        <input type="radio" checked="checked" value="existing" name="payment_address" data-id="payment-existing"> I want to use an existing address</label>
	                    </div>
	                    <div id="payment-existing">
	                      <select class="form-control" sec:authorize="isAuthenticated()" name="address_id">
	                        <option th:each="userAddress: ${listUserAddressDTOs}" selected="selected" value="4" th:text="${userAddress.name }+','+${userAddress.phoneNumber }+','+${userAddress.address }+','+${userAddress.district }+','+${userAddress.city }"></option>
	                      </select>
	                      <select sec:authorize="!isAuthenticated()" class="form-control" name="address_id">
	                        <option selected="selected" value="4" ></option>
	                      </select>
	                    </div>
	                    <div class="radio">
	                      <label>
	                        <input type="radio" value="new" name="payment_address" data-id="payment-new"> I want to use a new address</label>
	                    </div>
	                    <br>
	                    <div id="payment-new" style="display: none;">
	                      <div class="form-group required">
	                        <label for="input-payment-firstname" class="col-sm-2 control-label">Name</label>
	                        <div class="col-sm-10">
	                          <input type="text" class="form-control" id="input-payment-firstname" placeholder="First Name" value="" name="name">
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label for="input-payment-company" class="col-sm-2 control-label">PhoneNumber</label>
	                        <div class="col-sm-10">
	                          <input type="text" class="form-control" id="input-payment-company" placeholder="PhoneNumber" value="" name="phoneNumber">
	                        </div>
	                      </div>
	                      <div class="form-group required">
	                        <label for="input-payment-address-1" class="col-sm-2 control-label">Address</label>
	                        <div class="col-sm-10">
	                          <input type="text" class="form-control" id="input-payment-address-1" placeholder="Address" value="" name="address">
	                        </div>
	                      </div>
	                      <div class="form-group required">
	                        <label for="input-payment-city" class="col-sm-2 control-label">City</label>
	                        <div class="col-sm-10">
	                          <input type="text" class="form-control" id="input-payment-city" placeholder="City" value="" name="city">
	                        </div>
	                      </div>
	                      <div class="form-group required">
	                        <label for="input-payment-city" class="col-sm-2 control-label">District</label>
	                        <div class="col-sm-10">
	                          <input type="text" class="form-control" id="input-payment-city" placeholder="District" value="" name="district">
	                        </div>
	                      </div>
	                    </div>
	                    <div class="buttons clearfix">
	                      <div class="pull-right">
	                        <input type="button" class="btn" data-loading-text="Loading..." id="button-payment-address" value="Continue">
	                      </div>
	                    </div>

	                </div>
	              </div>
	            </div>
	            <div class="panel panel-default ">
	              <div class="panel-heading">
	                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">Step 3: Delivery Method <i class="fa fa-caret-down"></i></a> </h4>
	              </div>
	              <div id="collapsefour" class="panel-collapse collapse">
	                <div class="panel-body">
	                  <p>Please select the preferred shipping method to use on this order.</p>
	                  <p><strong>Flat Rate</strong></p>
	                  <div class="radio">
	                    <label>
	                      <input type="radio" checked="checked" value="flat.flat" name="shipping_method"> Flat Shipping Rate - $5.00</label>
	                  </div>
	                  <p><strong>Add Comments About Your Order</strong></p>
	                  <p>
	                    <textarea class="form-control" rows="8" name="comment"></textarea>
	                  </p>
	                  <div class="buttons">
	                    <div class="pull-right">
	                      <input type="button" class="btn mt_20" data-loading-text="Loading..." id="button-shipping-method" value="Continue">
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="panel panel-default ">
	              <div class="panel-heading">
	                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive">Step 4: Payment Method <i class="fa fa-caret-down"></i></a> </h4>
	              </div>
	              <div id="collapsefive" class="panel-collapse collapse">
	                <div class="panel-body">
	                  <p>Please select the preferred payment method to use on this order.</p>
	                  <div class="radio">
	                    <label>
	                      <input type="radio" checked="checked" value="cod" name="payment_method"> Cash On Delivery </label>
	                  </div>
	                  <p><strong>Add Comments About Your Order</strong></p>
	                  <p>
	                    <textarea class="form-control" rows="8" name="comment"></textarea>
	                  </p>
	                  <div class="buttons">
	                    <div class="pull-right mt_20">I have read and agree to the <a class="agree" href="#"><b>Terms &amp; Conditions</b></a>
	                      <input type="checkbox" value="1" name="agree"> &nbsp;
	                      <input type="button" class="btn" data-loading-text="Loading..." id="button-payment-method" value="Continue">
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="panel panel-default ">
	              <div class="panel-heading">
	                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix">Step 5: Confirm Order <i class="fa fa-caret-down"></i></a> </h4>
	              </div>
	              <div id="collapsesix" class="panel-collapse collapse">
	                <div class="panel-body">
	                  <div class="table-responsive">
	                    <table class="table table-bordered table-hover">
	                      <thead>
	                        <tr>
	                          <td class="text-left">Sản phẩm</td>
	                          <td class="text-left">Mô tả</td>
	                          <td class="text-right">Số lượng</td>
	                          <td class="text-right">Đơn giá</td>
	                          <td class="text-right">Tổng</td>
	                        </tr>
	                      </thead>
	                      <tbody>
	                       
	                        	<tr th:each="entry: ${session.cart}">
		                          <td class="text-left"><a href="" th:text="${entry.value.productDTO.name }"></a></td>
		                          <td class="text-left" th:text="${entry.value.productDTO.description }"></td>
		                          <td class="text-right" th:text="${entry.value.quantity }"></td>
		                          <td class="text-right" th:text="${entry.value.unitPrice }"></td>
		                          <td class="text-right" th:text="${entry.value.quantity * entry.value.unitPrice }"></td>
		                        </tr>
	                        
	                      </tbody>
	                      <tfoot th:if="${session.cart != null}">
	                      		<tr>
		                          <td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
		                          <td th:if="${session.coupon != null}" class="text-right" th:text="${total-totalCoupon }"></td>
		                          <td th:if="${session.coupon == null}" class="text-right" th:text="${total }"></td>
		                        </tr>
	                        	<tr th:if="${session.coupon != null}">
		                          <td class="text-right" colspan="4"><strong>Coupon:</strong></td>
		                          <td class="text-right" th:text="'-' + ${totalCoupon}"></td>
		                        </tr>
		                        <tr>
		                        <tr>
		                          <td class="text-right" colspan="4"><strong>Flat Shipping Rate:</strong></td>
		                          <td class="text-right">$5.0</td>
		                        </tr>
		                        <tr>
		                          <td class="text-right" colspan="4"><strong>Total:</strong></td>
		                          <td th:if="${session.coupon != null}" class="text-right" th:text="${total + 5 - totalCoupon}"></td>
		                          <td th:if="${session.coupon == null}" class="text-right" th:text="${total + 5}"></td>
		                        </tr>
	                        </tfoot>
	                        
	                        <tfoot th:if="${session.cart == null}">
	                        	<tr>
		                          <td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
		                          <td class="text-right">0</td>
		                        </tr>
		                        <tr>
		                          <td class="text-right" colspan="4"><strong>Eco Tax (+2.00):</strong></td>
		                          <td class="text-right"></td>
		                        </tr>
		                        <tr>
		                          <td class="text-right" colspan="4"><strong>VAT (20%):</strong></td>
		                          <td class="text-right">0</td>
		                        </tr>
		                        <tr>
		                          <td class="text-right" colspan="4"><strong>Flat Shipping Rate:</strong></td>
		                          <td class="text-right"></td>
		                        </tr>
		                        <tr>
		                          <td class="text-right" colspan="4"><strong>Total:</strong></td>
		                          <td class="text-right">0</td>
		                        </tr>
	                        
	                      </tfoot>
	                    </table>
	                  </div>
	                  <div class="buttons">
	                    <div class="pull-right">
	                    	<a th:href="@{/member/order}"><input type="submit" data-loading-text="Loading..." class="btn" id="button-confirm" value="Confirm Order"></a>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>            
          </div>
        </div>
      </div>
      <div id="brand_carouse" class="ptb_30 text-center">
        <div class="type-01">
          <div class="heading-part mb_20 ">
            <h2 class="main_title">Brand Logo</h2>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="brand owl-carousel ptb_20">
                <div class="item text-center"> <a href="#"><img src="/finalweb/images/brand/brand1.png" alt="Disney" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="/finalweb/images/brand/brand2.png" alt="Dell" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="/finalweb/images/brand/brand3.png" alt="Harley" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="/finalweb/images/brand/brand4.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="/finalweb/images/brand/brand5.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="/finalweb/images/brand/brand6.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="/finalweb/images/brand/brand7.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="/finalweb/images/brand/brand8.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="/finalweb/images/brand/brand9.png" alt="Canon" class="img-responsive" /></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <!-- =====  FOOTER START  ===== -->
    
    <div th:replace="/client/common/footer :: footer"></div>
    
    <!-- =====  FOOTER END  ===== -->
  </div>
  <a id="scrollup"></a>
  <script th:src="@{/static_client/js/jQuery_v3.1.1.min.js}"></script>
  <script th:src="@{/static_client/js/owl.carousel.min.js}"></script>
  <script th:src="@{/static_client/js/bootstrap.min.js}"></script>
  <script th:src="@{/static_client/js/jquery.magnific-popup.js}"></script>
  <script th:src="@{/static_client/js/custom.js}"></script>
  <script type="text/javascript">
  $('input[name=\'payment_address\']').on('change', function() {
    if (this.value == 'new') {
      $('#payment-existing').hide();
      $('#payment-new').show();
    } else {
      $('#payment-existing').show();
      $('#payment-new').hide();
    }
  });
  $('input[name=\'shipping_address\']').on('change', function() {
    if (this.value == 'new') {
      $('#shipping-existing').hide();
      $('#shipping-new').show();
    } else {
      $('#shipping-existing').show();
      $('#shipping-new').hide();
    }
  });
  </script>
</body>

</html>